#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.collapse-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}
.collapse-btn {
  padding: 10px;
  background-color: var(--btn-color);
  margin-bottom: .8rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.collapse-content-container {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.collapse-content {
  overflow: hidden;
}

.collapsed {
  grid-template-rows: 1fr;
}
